@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500;1,500&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
;

* {
    padding: 0;
    margin: 0;
}

:root {
    --gray-color: #6B6B6B;
    --yellow-color: #F4D04E;
    --white-color: #FFFFFF;
    --block-color: #111111;
}

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: var(--yellow-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

main {
    height: 522px;
    width: 384px;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 24px;
    display: flex;

    @media (max-width: 500px) {
        width: 327px;
        height: 501px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    img {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        margin-top: 24px;
        flex-grow: 1;
        position: relative;

        .category {
            padding: 4px 12px;
            background-color: var(--yellow-color);
            font-size: 14px;
            font-weight: bolder;
            border-radius: 4px;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .publish-date {
            margin-top: 41px;
        }

        .title {
            margin-top: 12px;
            font-size: 24px;
            font-weight: bolder;
        }

        .description {
            font-size: 16px;
            font-weight: 500;
            color: var(--gray-color);
            margin-top: 12px;
            line-height: 150%;
        }

       
    }

    .card-footer{
        .author {
            display: flex;
            align-items: center;
            gap: 12px;

            img {
                width: 32px;
                height: 32px;
            }

            .author-name {
                font-size: 14px;
                font-weight: bolder;

            }
        }
    }
}